# VCS
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Entornos
venv/
.env
.env.*
*.env

# Django
staticfiles/
media/
*.log
db.sqlite3

# IDEs
.vscode/
.idea/

# Tests / docs
*.pdf
*.docx
*.xlsx

# Docker
docker-compose*.yml

